.multi-select .dropdown-container{
    width: 220px;
    height: 32px;
    border-radius: 26px;
    border: 1px solid #B2B2B7;
    padding-left: 5px;
    margin-bottom: 15px;
    color: #403F4C;
    font-family: 'Quicksand',sans-serif;
    font-size: 14px;
    margin-top: 2px;
    display: flex;
    align-items: center;
}
.multi-select .clear-selected-button{
    display: none;
}

.multi-select .dropdown-heading{
    display: flex;    
    align-items: center;
    padding: 0;
}

.multi-select span{
    font-size: 14px !important;
}

.multi-select .dropdown-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.multi-select .select-item{
    padding: 8px 0;
}

.multi-select .item-renderer{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.korVuG .tabs .formulario input{
    width: auto;
    height: 20px;
    margin: 0;
    border-bottom: 1px solid #B2B2B7;
}

.rmsc .dropdown-content{
    left: 0;
}

.korVuG .tabs .formulario span{
    align-self: center;
}

.rmsc .gray{
    margin-right: 8px;
}

.rmsc .search input{
    width: 100% !important;
    height: 25px !important;
    padding: 0;
    border-radius: 0 !important;    
}

.arrowDropDown{
    margin-right: 11px;
}