.new-box-table-list {
    margin-left: 30px;
    max-width: 91%;
    
    table {
        width: 100%;
        border-collapse: collapse;

        tbody {
            &:last-child {
                border-bottom: none;
            }

            tr {
                border-bottom: 1px solid rgba(64, 63, 76, 0.2);
                height: 40px;
                
                th {
                    font-size: 12px;
                    text-align: left;
                    padding: 12px 25px;
                    color: #403F4C;
                }

                td {
                    font-size: 14px;
                    color: #403F4C;
                    padding: 0 25px;
                    font-family: "Work Sans", sans-serif;

                    &[data-item="PENDING"] {
                        font-weight: 600;
                        color: #004FFF;
                    }
        
                    &[data-item="DONE"] {
                        font-weight: 600;
                        color: #0ED572;
                    }
        
                    &[data-item="CANCELED"], &[data-item="NOSHOW"] {
                        font-weight: 600;
                        color: #FF5666;
                    }
        

                    button {
                        &.view-button {
                            position: relative;
                            background-color: transparent;
                            border: 1px solid #787780;
                            color: #787780;
                            font-size: 11px;
                            float: right;
                            cursor: pointer;
                            padding: 3px 20px 3px 10px;
                            margin: 0;
                            border-radius: 24px;
                    
                            i {
                                font-size: 14px;
                                position: absolute;
                                top: 2px; 
                                right: 10px;
                            }
                        }
                    }
                }
            }
        } 
    }
}